In [6]:
# importing packages
import py_entitymatching as em
import pandas as pd
import numpy as np
import os

### Reading Dataset

Here we read two datasets. One contains merged tuples from songs.csv and tracks.csv. The other contains movies data.

In [2]:
# setting up the directory path 
path_A = os.path.join('dataset','merged_data.csv')
path_B = os.path.join('..','dataset','datasets','movies.csv')

# Read the CSV files
A = em.read_csv_metadata(path_A,low_memory=False) # setting the parameter low_memory to False  to speed up loading.
B = em.read_csv_metadata(path_B,low_memory=False)

In [3]:
#creating a 'id' column in merged dataset for further analysis
# Note: year attribute in this dataset has both of the years where years from songs and tracks dataset doesn't match
A['id'] = A.index
A.head()

,movie_title,year,episode,song_title,artists,song_id,track_id,id
0,the pledge,"[2001, 1996]",NaN,poor twisted me,james hetfield+lars ulrich+metallica+arrangement with warner special products,511255.0,678831.0,0
1,william s. burroughs: commissioner of sewers,"[1991, 1990]",NaN,batman br�t fische,fm einheit,150981.0,724999.0,1
2,the warriors,"[2005, 1979]",NaN,love is a fire,genya ravan+johnny vastano+vini poncia,328251.0,690267.0,2
3,t in the park 2010,2010,muse/calvin harris (#1.3),map of the problematique [live from wembley stadium],matthew bellamy+muse,227686.0,231063.0,3
4,dolly parton: live & well,"[2004, 2002]",NaN,dagger through the heart,dolly parton,531984.0,418267.0,4

In [4]:
B.rename(columns = {'title':'movie_title'}, inplace = True)
B.head()

,id,movie_title,year,length,budget,rating,votes,r1,r2,r3,...,r9,r10,mpaa,Action,Animation,Comedy,Drama,Documentary,Romance,Short
0,0,#,2012,15.0,10000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,1,0,0,0,1
1,1,#,2014,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,1,0,0,0,1
2,2,#1,2005,30.0,5000.0,6.8,11.0,14.5,0.0,0.0,...,4.5,14.5,NaN,0,0,0,1,0,0,1
3,3,#1,2009,4.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,1,0,0,0,0,1
4,4,#1,2010,12.0,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,1,0,0,0,1

In [ ]:
#Down sample the tables
sample_A, sample_B = em.down_sample(A, B, size=100000, y_param=1, show_progress=False)

# Set 'id' as the keys to the input tables
em.set_key(sample_A,'id')
em.set_key(sample_B,'id')

sample_A = sample_A.apply(lambda x: x.astype(str).str.lower())
sample_B = sample_B.apply(lambda x: x.astype(str).str.lower())

#Print lengths of the sampled tables
print(len(sample_A))
print(len(sample_B))

In [ ]:
sample_A.to_csv('merged_sample.csv', index = False, sep = ',')
sample_B.to_csv('movies_sample.csv', index = False, sep = ',')

#Get headers of sampled tables
headers_A = list(A.columns)
headers_B = list(B.columns)

In [7]:
sample_A = em.read_csv_metadata('merged_sample.csv',low_memory=False)
sample_B = em.read_csv_metadata('movies_sample.csv',low_memory=False)

# Set 'id' as the keys to the input tables
em.set_key(sample_A,'id')
em.set_key(sample_B,'id')

True

In [8]:
#generating features for blocking
block_f = em.get_features_for_blocking(sample_A, sample_B)
block_f

,feature_name,left_attribute,right_attribute,left_attr_tokenizer,right_attr_tokenizer,simfunction,function,function_source,is_auto_generated
0,movie_title_movie_title_jac_qgm_3_qgm_3,movie_title,movie_title,qgm_3,qgm_3,jaccard,<function movie_title_movie_title_jac_qgm_3_qgm_3 at 0x000000001C1FE438>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
1,movie_title_movie_title_cos_dlm_dc0_dlm_dc0,movie_title,movie_title,dlm_dc0,dlm_dc0,cosine,<function movie_title_movie_title_cos_dlm_dc0_dlm_dc0 at 0x000000001C1FE518>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
2,movie_title_movie_title_jac_dlm_dc0_dlm_dc0,movie_title,movie_title,dlm_dc0,dlm_dc0,jaccard,<function movie_title_movie_title_jac_dlm_dc0_dlm_dc0 at 0x000000001C1FE3C8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
3,movie_title_movie_title_mel,movie_title,movie_title,None,None,monge_elkan,<function movie_title_movie_title_mel at 0x000000001C1FE588>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
4,movie_title_movie_title_lev_dist,movie_title,movie_title,None,None,lev_dist,<function movie_title_movie_title_lev_dist at 0x000000001C1FE5F8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
5,movie_title_movie_title_lev_sim,movie_title,movie_title,None,None,lev_sim,<function movie_title_movie_title_lev_sim at 0x000000001C1FE668>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
6,movie_title_movie_title_nmw,movie_title,movie_title,None,None,needleman_wunsch,<function movie_title_movie_title_nmw at 0x000000001C1FE6D8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
7,movie_title_movie_title_sw,movie_title,movie_title,None,None,smith_waterman,<function movie_title_movie_title_sw at 0x000000001C1FE748>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
8,id_id_exm,id,id,None,None,exact_match,<function id_id_exm at 0x000000001C1FE7B8>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
9,id_id_anm,id,id,None,None,abs_norm,<function id_id_anm at 0x000000001C1FE828>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
10,id_id_lev_dist,id,id,None,None,lev_dist,<function id_id_lev_dist at 0x000000001C1FE898>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True
11,id_id_lev_sim,id,id,None,None,lev_sim,<function id_id_lev_sim at 0x000000001C1FE908>,from py_entitymatching.feature.simfunctions import *\nfrom py_entitymatching.feature.tokenizers ...,True

In [9]:
#helper function for filtering out some of the tuples based on movile title
def title_function(x, y):

    x_title = str(x['movie_title'])
    y_title = str(y['movie_title'])
    
    x_split = x_title.split()
    y_split = y_title.split()

    intersection = len(set(x_split) & set(y_split))
    union = len(set(x_split) | set(y_split))
    
    frac = float (float(intersection) / float(union))
    
    if( frac < 0.5):
        return True
    
    else:
        x_year = x['year']
        y_year = y['year']
        
        if x_year[0] == '[':
            x_year = x_year[1:-1]
            x_year = x_year.split(',')
        else:
            x_year = [x_year]
        
        for x in x_year:
            if abs(int(x) - float(y_year)) <= 5:
                return False
        
        return True

In [10]:
rb = em.RuleBasedBlocker()
ob = em.OverlapBlocker()
bb = em.BlackBoxBlocker()

# remove pairs that don't share similar movie titles
rule1 = ['movie_title_movie_title_jac_qgm_3_qgm_3(ltuple,rtuple) < 0.5']
rb.add_rule(rule1, block_f)

C1 = rb.block_tables(sample_A, sample_B, l_output_attrs=['movie_title','year'], r_output_attrs=['movie_title','year'], show_progress=False)

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:01:06
0%  100%
[]

Finding pairs with missing value...

In [11]:
len(C1)

4705

In [12]:
bb.set_black_box_function(title_function)
C2 = bb.block_candset(C1)

0%                          100%
[##############################] | ETA: 00:00:00
Total time elapsed: 00:00:02

In [13]:
print len(C2) 
C2.head(50)

1244

,_id,ltable_id,rtable_id,ltable_movie_title,ltable_year,rtable_movie_title,rtable_year
32,32,592.0,571847.0,prison break,"[2005, 1978]",prison break,2008.0
33,33,3476.0,571847.0,prison break,2005,prison break,2008.0
34,34,2365.0,828790.0,las vegas,"[2003, 1963]",viva las vegas,1964.0
37,37,1450.0,828790.0,las vegas,"[2003, 1963]",viva las vegas,1964.0
40,40,307.0,53603.0,an american tail: fievel goes west,1991,an american tail: fievel goes west,1991.0
42,42,2634.0,527545.0,once upon a wheel,1971,once upon a scoundrel,1974.0
48,48,5010.0,827242.0,vinyl,"[2016, 1970]",vinyl,1965.0
58,58,4949.0,722638.0,the great gatsby,"[2013, 2006]",the great gabble,2003.0
59,59,3283.0,260836.0,from hell,2001,from hell,2001.0
66,66,3251.0,711622.0,the doors,1991,the doors,1991.0
67,67,2264.0,711622.0,the doors,"[1991, 1965]",the doors,1991.0
68,68,411.0,711622.0,the doors,"[1991, 1967]",the doors,1991.0
69,69,4515.0,711622.0,the doors,"[1991, 1967]",the doors,1991.0
70,70,4092.0,711622.0,the doors,1991,the doors,1991.0
73,73,4723.0,700054.0,the boys are back,2009,the boys are back,2009.0
86,86,2281.0,407456.0,lantana,"[2001, 1999]",lantana,2001.0
91,91,6703.0,851054.0,me without you,"[2001, 1982]",without you,2005.0
92,92,5545.0,851054.0,me without you,"[2001, 1975]",without you,2005.0
95,95,5055.0,778540.0,here i am,"[2011, 2006]",there i am,2011.0
106,106,159.0,749369.0,the perfect score,"[2004, 2002]",the perfect show,2007.0
111,111,3714.0,498542.0,narco,2004,narco,2004.0
114,114,5690.0,839179.0,welcome to the 80s,"[2009, 1981]",welcome to the majority,2013.0
115,115,1134.0,839179.0,welcome to the 80s,"[2009, 1998]",welcome to the majority,2013.0
116,116,3244.0,839179.0,welcome to the 80s,"[2009, 1986]",welcome to the majority,2013.0
117,117,174.0,839179.0,welcome to the 80s,"[2009, 1988]",welcome to the majority,2013.0
118,118,2251.0,839179.0,welcome to the 80s,"[2009, 1985]",welcome to the majority,2013.0
119,119,3814.0,839179.0,welcome to the 80s,"[2009, 2006]",welcome to the majority,2013.0
120,120,1817.0,839179.0,welcome to the 80s,"[2009, 1980]",welcome to the majority,2013.0
121,121,837.0,839179.0,welcome to the 80s,2009,welcome to the majority,2013.0
122,122,1894.0,839179.0,welcome to the 80s,"[2009, 2006]",welcome to the majority,2013.0
123,123,2414.0,839179.0,welcome to the 80s,"[2009, 1981]",welcome to the majority,2013.0
124,124,6805.0,839179.0,welcome to the 80s,"[2009, 1992]",welcome to the majority,2013.0
125,125,5001.0,839179.0,welcome to the 80s,"[2009, 1988]",welcome to the majority,2013.0
126,126,4565.0,839179.0,welcome to the 80s,2009,welcome to the majority,2013.0
127,127,2038.0,839179.0,welcome to the 80s,"[2009, 1980]",welcome to the majority,2013.0
128,128,4088.0,839179.0,welcome to the 80s,"[2009, 2006]",welcome to the majority,2013.0
130,130,1741.0,363168.0,kaboom,"[2010, 2009]",kaboom,2010.0
136,136,1432.0,833034.0,wake,"[2009, 2008]",wake,2003.0
139,139,935.0,827245.0,vinyl,"[2016, 2000]",vinyl,2000.0
150,150,4047.0,372363.0,kick-ass,"[2010, 2008]",kick-ass 2,2013.0
162,162,1816.0,78112.0,riris back to work,"[2016, 2005]",back to work,2013.0
172,172,2906.0,855979.0,xuxa requebra,1999,xuxa requebra,1999.0
179,179,5235.0,665411.0,stoned,2005,stoned,2005.0
192,192,5337.0,702431.0,the comedian,"[2012, 2001]",the career comedian,2012.0
193,193,3893.0,313069.0,hot coffee,"[2011, 2006]",hot coffee,2011.0
194,194,6004.0,733022.0,the last stand,"[2013, 1970]",the last round,2015.0
215,215,1559.0,542717.0,panther,1995,panther,1999.0
222,222,4630.0,712566.0,this is the end,"[2013, 1982]",the end,2016.0
223,223,5515.0,569663.0,premature,2014,premature closure,2016.0
225,225,3887.0,754865.0,the deal,"[2008, 2006]",the reel deal,2002.0

In [14]:
#Debugging step: debugging the helper function
status = bb.block_tuples(sample_A.ix[3276], sample_B.ix[sample_B[sample_B['id']== 776498].index.item()])
title_function(sample_A.ix[3276], sample_B.ix[sample_B[sample_B['id']== 776498].index.item()])

False

In [15]:
#outputting the debugger from py_entitymatching after performing blocking
dbg = em.debug_blocker(C2, sample_A, sample_B, output_size=50)
dbg

,_id,similarity,ltable_id,rtable_id,ltable_movie_title,ltable_year,rtable_movie_title,rtable_year
0,0,0.800000,6314,675906,sweeney todd: the demon barber of fleet street,2007,sweeney todd: the demon barber of fleet street,1936
1,1,0.750000,5336,713432,the living end,1992,the end,1992
2,2,0.750000,6892,95485,big brother,2000,big brother trouble,2000
3,3,0.714286,5601,128144,catch me if you can,2002,catch me if you can,1996
4,4,0.714286,2582,733493,the last of the mohicans,1992,the last of the mohicans,1936
5,5,0.666667,725,688705,terror firmer,1999,terror,1999
6,6,0.666667,320,427285,thats life,2000,life,2000
7,7,0.666667,2975,823966,veronica mars,2004,veronica,2004
8,8,0.666667,589,266343,gangs of new york,2002,gangs of new york,1938
9,9,0.666667,4853,680720,take,2007,take out,2007
10,10,0.666667,5515,569664,premature,2014,premature snapulation,2014
11,11,0.666667,1478,265754,game boys,2008,game,2008
12,12,0.666667,1723,823966,veronica mars,2004,veronica,2004
13,13,0.666667,6471,197012,war dogs,2016,dogs,2016
14,14,0.666667,2357,816577,up in the air,2009,up in the air,1920
15,15,0.666667,20,335698,t in the park 2015,2015,in the park,2015
16,16,0.666667,3328,299747,the help,2011,help,2011
17,17,0.666667,3482,429262,like father like son,1987,like son like father,2014
18,18,0.666667,3453,197012,war dogs,2016,dogs,2016
19,19,0.666667,5468,86384,chef,2014,beard chef,2014
20,20,0.666667,6877,765942,super,2010,the super,2010
21,21,0.666667,7134,504530,revenge,2011,newton's revenge,2011
22,22,0.666667,3850,511071,nobody,2012,nobody walks,2012
23,23,0.666667,5810,662488,dancing stars,2005,stars,2005
24,24,0.666667,6809,688705,terror firmer,1999,terror,1999
25,25,0.666667,6071,527555,once upon a time,2011,once upon a time,1937
26,26,0.666667,2796,271773,ghost,1990,ghost dad,1990
27,27,0.666667,3132,246140,woman in the mirror,2013,figure in the mirror,2013
28,28,0.666667,4425,204929,drop zone,1994,drop,1994
29,29,0.666667,6892,95356,big brother,2000,big,2000
30,30,0.666667,6477,144903,cobra,1986,cobra mission,1986
31,31,0.666667,3963,763495,the spirit of 76,1990,the spirit of 76,2016
32,32,0.666667,3850,324071,nobody,2012,i'm nobody,2012
33,33,0.666667,1210,555301,phil spector,2013,phil,2013
34,34,0.666667,4997,565118,girls,2012,popular girls,2012
35,35,0.666667,6929,852020,the women,2008,women,2008
36,36,0.666667,3482,429178,like father like son,1987,like father like son,2008
37,37,0.666667,4853,766522,take,2007,the take,2007
38,38,0.666667,6071,527556,once upon a time,2011,once upon a time,1941
39,39,0.625000,5280,326354,if these walls could talk,"[1996, 1968]",if these walls could talk,2013
40,40,0.625000,3531,775909,the wolf of wall street,"[2013, 1978]",the wolf of wall street,1929
41,41,0.625000,3153,686531,tell me you love me,"[2007, 1969]",tell me you love me,2014
42,42,0.625000,3472,65497,a walk on the moon,1999,armstrong: a walk on the moon,2011
43,43,0.625000,5625,842632,when i fall in love,"[1951, 1957]",when i fall in love,2014
44,44,0.625000,4436,344591,it could happen to you,"[1994, 1992]",it could happen to you,1947
45,45,0.625000,4992,326354,if these walls could talk,"[1996, 1968]",if these walls could talk,2013
46,46,0.625000,6242,686531,tell me you love me,"[2007, 2006]",tell me you love me,2014
47,47,0.600000,6928,704705,walk the line,2005,the clothing line,2005
48,48,0.600000,7068,732526,the last sect,2006,the last hour,2006
49,49,0.600000,7126,233547,everything must go,2010,everything must go,2003

In [18]:
#writing the movie dataset after blocking
C2 = C2.rename(columns = {'_id':'id'})
C2.to_csv('movie_dataset_after_blocking.csv',sep = ',',index = False)

In [72]:
#Sample the result set C2
#we sample 400 tuples after blocking
S= em.sample_table(C2,400)
G = em.label_table(S, label_column_name='gold_labels')

In [81]:
#labeling the sampled data
S['gold_label'] = G['gold_labels']
S.to_csv('./dataset/labeled_movie_data.csv', index = False, sep = ',')

C:\Users\nafis\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':